@font-face {
    font-family: aschFont;
    src: url("../font/Maquette-Light.otf");
}

body, html {
    background: #f8f7f7;
}

nav {
    background: #fff;
}

.getContainer {
    width: 70%;
    max-width: 1400px;
    min-width: 1200px;
    /*height: 1500px;*/
    margin: 60px auto 100px auto;
    /*background: #f8f7f7;*/
}

.getContainer .getTitle {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: left;
}

.getContainer .getTitle a {
    color: #000;
    font-size: 16px;
    font-family: aschFont;
}

.getContainer .getTitle a:nth-child(1) {
    font-weight: bold;
}

.getContainer .getMain {
    width: 100%;
}

.getContainer .getMain .mainLeft {
    width: 200px;
    float: left;
    background: #fff;
}

.getContainer .getMain .mainLeft ul {
    width: 100%;
    padding: 20px 0px 20px 25px;
    box-sizing: border-box;
    /*border: 1px solid #ccc;*/
    box-shadow: 0 0 10px #ccc;
    border-radius: 3px;
}

.getContainer .getMain .mainLeft ul p {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    cursor: pointer;
}

.getContainer .getMain .mainLeft ul p span {
    font-weight: bold;
    font-size: 16px;
}

.hoverColor {
    color: #ffa81c;
}

.outColor {
    color: #000;
}

.hideLis {
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    top: 20px;
}

.showLis {
    top: 13px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.getContainer .getMain .mainLeft ul p em {
    position: absolute;
    right: 20px;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-right: 1px solid #c1c1c1;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
}

.getContainer .getMain .mainLeft ul li {
    margin-bottom: 5px;
    /*background: transparent;*/
}

.getContainer .getMain .mainLeft ul li a:hover {
    color: #ffa81c;
}

.getContainer .getMain .mainLeft ul li a {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: left;
    /*color: #000;*/
    font-size: 14px;
    font-family: aschFont;
}

.getContainer .getMain .mainRight {
    width: calc(100% - 230px);
    min-height: 700px;
    background: #fff;
    float: right;
    box-shadow: 0 0 10px #ccc;
    border-radius: 3px;
    padding: 20px;
    box-sizing: border-box;
}

.getContainer .getMain .mainRight .webWallet {
    display: block;
}

.getContainer .getMain .mainRight .pcWallet {
    display: none;
}

.getContainer .getMain .mainRight .androidWallet {
    display: none;
}

.getContainer .getMain .mainRight .getXAS {
    display: none;
}

.getContainer .getMain .mainRight .webWalletFunction {
    display: none;
}

.getContainer .getMain .mainRight .toFiduciary {
    display: none;
}

.getContainer .getMain .mainRight .collocateNode {
    display: none;
}

.getContainer .getMain .mainRight .useTool {
    display: none;
}

.getContainer .getMain .mainRight .developDapp {
    display: none;
}

.getContainer .getMain .mainRight .joinCommunity {
    display: none;
}

.getContainer .getMain .mainRight span {
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-family: aschFont;
}

.getContainer .getMain .mainRight hr {
    border-bottom: 1px solid #ccc;
    border-top: transparent;
    margin-top: 10px;
    margin-bottom: 20px;
}

.getContainer .getMain .mainRight p {
    font-size: 14px;
    color: #000;
    /*height: 30px;*/
    /*line-height: 30px;*/
    text-align: left;
    margin: 10px 0;
}

.getContainer .getMain .mainRight img {
    margin-top: 10px;
    width: 100%;
    max-width: 900px;
    border: 1px solid #ccc;
}

.getContainer .getMain .mainRight .pcWallet img {
    max-width: 800px;
}

.getContainer .getMain .mainRight a:hover {
    color: #ffa81c;
}

.getContainer .getMain .mainRight a {
    display: block;
    margin: 10px 0;
    color: #000;
    font-size: 14px;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
}